<div class="footer-wrapper">
    <footer class="section-footer">
        <div class="footer-legal">
            <app-logo></app-logo>
            <p>© Sven Primus 2026</p>
            <a href="#TODO">Legal Notice</a>
        </div>
        <nav class="footer-nav">
            <div class="footer-nav-animation-wrapper">
                <a href="https://www.linkedin.com/in/sven-primus-691738190" target="_blank">GitHub</a>
            </div>
            <div class="footer-nav-animation-wrapper">
                <a href="https://github.com/svenprimus" target="_blank">LinkedIn</a>
            </div>
            <div class="footer-nav-animation-wrapper">
                <a href="mailto:svenprimus@gmail.com">Email</a>
            </div>
        </nav>
    </footer>
</div>
