@use '../../../../public/assets/styles/all_styles.scss' as *;

.footer-wrapper {
    width: 100%;
    height: 0;
    position: relative;
}

.section-footer {
    @include content-limit-1440p(16, 120);
    @include flex-start;
    position: absolute;
    width: 100%;
    height: $height-footer;
    bottom: 0;
    padding-bottom: 56px;
}

.footer-legal {
    @include flex-column-start;

    app-logo {
        margin-bottom: 16px;
    }

    a {
        margin-top: 12px;
    }
}

.footer-nav {
    @include flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.footer-nav-animation-wrapper {
    @include flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
