<header class="content-limit-1440p">
    <nav>
        <a href="#page-top" aria-label="go to top of page">
            <img src="./assets/icons/logo/logo-for-dark.svg" alt="Logo Sven Primus" />
        </a>
        <ul>
            <li>
                <a>About Me </a>
            </li>
            <li>
                <a>Skills </a>
            </li>
            <li>
                <a>Projects </a>
            </li>
            <li>
                <a>Contact </a>
            </li>
            <li>
                <a>Skills </a>
            </li>
            <li>
                <label for="language">EN</label>
                <input id="language" name="language" type="range" min="0" max="1" />
                <label for="language">DE</label>
            </li>
        </ul>
        <button><img src="./assets/icons/misc/menu.svg" alt="menu button" /></button>
    </nav>
</header>
