<section class="section-hero">
    <div class="section-hero__content content-limit-1440p">
        <section class="headline-top">
            <div>
                <button class="btn1d">Hello World</button>
                <h1>Frontend</h1>
            </div>
            <app-profile-figure class="figure-desktop"></app-profile-figure>
        </section>
        <section class="headline-bot">
            <div>
                <h1>DEVELOPER</h1>
                <button class="btn3d">Get In Touch</button>
            </div>
        </section>
        <section class="figure-mobile-wrapper">
            <app-profile-figure class="figure-mobile"></app-profile-figure>
        </section>
    </div>
</section>
