<section class="section-hero">
    <div class="section-hero__content">
        <section class="headline-top">
            <div>
                <app-button [is3D]="false" [isDark]="false" [btnText]="'Hello World'"></app-button>
                <h1>Frontend</h1>
            </div>
            <app-profile-figure class="figure-desktop"></app-profile-figure>
        </section>
        <section class="headline-bot">
            <div>
                <h1>DEVELOPER</h1>
                <app-button [is3D]="true" [isDark]="false" [btnText]="'Get In Touch'"></app-button>
            </div>
        </section>
        <section class="figure-mobile-wrapper">
            <app-profile-figure class="figure-mobile"></app-profile-figure>
        </section>
    </div>
</section>
