@use '../../../../../public/assets/styles/all_styles.scss' as *;

.btn3d {
    width: auto;
    height: $height-btn;
    padding-inline: $padding-btn;
    border-radius: $radius-btn;
    font-family: 'Bricolage Grotesque';
    font-size: $font-size-btn;
    font-weight: 500;
    line-height: 120%;
}

.btn3d {
    box-shadow: 2px 4px 0px 0px $color-base-light;
    transition: all 100ms ease-in;
}

.btn3d:hover {
    background-color: $color-high-3;
}

.btn3d:active {
    box-shadow: none;
    transform: translate(2px, 4px);
}

.btnLight {
    color: $color-base-light;
    border: $size-btn-border solid $color-base-light;
    border-color: $color-base-light;
    box-shadow: 2px 4px 0px 0px $color-base-light;
}

.btnDark {
    color: $color-base-dark;
    border: $size-btn-border solid $color-base-dark;
    border-color: $color-base-dark;
    box-shadow: 2px 4px 0px 0px $color-base-dark;
}
