<article class="section-projects">
    <section class="section-projects-headline">
        <div>
            <h4>MY CRAFT</h4>
            <h2>Projects</h2>
            <img src="./assets/design/00_hand-drawn-lines/03_portfolio/underline.webp" aria-hidden="true" />
        </div>
        <p>
            Encourage people to take a look and interact with your projects. Highlight your approach to creating
            responsive, user-friendly projects with efficient code.
        </p>
    </section>
    <section class="project-preview">
        <div class="project-preview-img-wrapper">
            <img src="./assets/img/preview-join-laptop.webp" alt="preview of a task managing project" />
            <img
                src="./assets/design/03_stickers/00_round/sticker-projects.webp"
                alt="sticker for highlighted project"
            />
        </div>
        <h3>Join</h3>
        <p>
            Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
            users and categories.
        </p>
    </section>
    <section class="project-preview">
        <div class="project-preview-img-wrapper">
            <img
                src="./assets/img/preview-pollo-loco.webp"
                alt="preview of a jump and run game about a mexican and chickens"
            />
        </div>
        <h3>El Pollo Loco</h3>
        <p>
            Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
            fight against the crazy hen.
        </p>
    </section>
</article>
