<article id="section-projects" class="section-projects">
    <section class="section-projects-headline">
        <header>
            <h4>MY CRAFT</h4>
            <h2>Projects</h2>
            <img src="./assets/design/00_hand-drawn-lines/03_portfolio/underline.webp" aria-hidden="true" />
        </header>
        <p>
            Take a look around and explore what I build. From responsive layouts to smooth interactions, I combine
            clean, efficient code with a strong focus on usability and detail to create web experiences that are made to
            be enjoyed.
        </p>
    </section>
    <section class="project-preview">
        <button class="project-preview-img-wrapper">
            <img
                class="project-preview-highlight"
                src="./assets/img/preview-join-laptop.webp"
                alt="preview of a task managing project"
            />
            <img
                class="highlight-sticker"
                src="./assets/design/03_stickers/00_round/sticker-projects.webp"
                alt="sticker for highlighted project"
            />
            <app-button class="btn-details" [is3D]="true" [isDark]="false">Project details</app-button>
        </button>
        <h3>Join</h3>
        <p>
            Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
            users and categories.
        </p>
    </section>
    <section class="project-preview">
        <button class="project-preview-img-wrapper">
            <img
                class="project-preview-img"
                src="./assets/img/preview-pollo-loco.webp"
                alt="preview of a jump and run game about a mexican and chickens"
            />
            <app-button class="btn-details" [is3D]="true" [isDark]="false">Project details</app-button>
        </button>
        <h3>El Pollo Loco</h3>
        <p>
            Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
            fight against the crazy hen.
        </p>
    </section>
</article>
