@keyframes color-blend {
    0% {
        filter: grayscale(100%);
    }
    30% {
        filter: none;
    }
    40% {
        filter: grayscale(55%);
    }
    50% {
        filter: none;
    }
    70% {
        filter: grayscale(65%);
    }
    100% {
        filter: none;
    }
}

@keyframes color-unblend {
    0% {
        filter: none;
    }
    30% {
        filter: grayscale(65%);
    }
    40% {
        filter: none;
    }
    50% {
        filter: grayscale(55%);
    }
    70% {
        filter: none;
    }
    100% {
        filter: grayscale(100%);
    }
}

@keyframes drawCircle {
    0% {
        clip-path: polygon(50% 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%);
    }
    2.4% {
        clip-path: polygon(50% 50%, 0 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0 100%);
    }
    4.8% {
        clip-path: polygon(50% 50%, 0 50%, 0 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }
    7.2% {
        clip-path: polygon(50% 50%, 0 50%, 0 100%, 100% 100%, 100% 0, 100% 0, 100% 0);
    }
    9.6% {
        clip-path: polygon(50% 50%, 0 50%, 0 100%, 100% 100%, 100% 0, 0 0, 0 50%);
    }
    12% {
        clip-path: polygon(50% 50%, 0 50%, 0 100%, 100% 100%, 100% 0, 0 0, 0 50%);
    }
    83.2% {
        clip-path: polygon(50% 50%, 0 50%, 0 100%, 100% 100%, 100% 0, 0 0, 0 50%);
    }
    85.6% {
        clip-path: polygon(50% 50%, 50% 50%, 0 100%, 100% 100%, 100% 0, 0 0, 0 50%);
    }
    88.0% {
        clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 100% 100%, 100% 0, 0 0, 0 50%);
    }
    90.4% {
        clip-path: polygon(50% 50%, 50% 50%, 100% 0, 100% 100%, 100% 0, 0 0, 0 50%);
    }
    92.8% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 100% 0, 0 0, 0 50%);
    }
    95.2% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 0, 0 0, 0 50%);
    }
    97.6% {
        clip-path: polygon(50% 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%);
    }
}
