@use './functions.scss' as *;
@use './variables.scss' as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start {
    @include flex-center;
    justify-content: flex-start;
}

@mixin flex-end {
    @include flex-center;
    justify-content: flex-end;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-end {
    @include flex-column;
    align-items: flex-end;
}

@mixin flex-column-start {
    @include flex-column;
    align-items: flex-start;
}

@mixin flex-column-top {
    @include flex-column;
    justify-content: flex-start;
}

@mixin light-shader {
    filter: drop-shadow(0 0 1px $color-base-dark);
}

@mixin content-limit {
    @media screen and (min-width: 1441px) {
        @content;
    }
}

@mixin content-limit-1440p($min: 16, $max: 120) {
    padding-inline: clamp-px($min, $max, 1440, 400);
    @include content-limit {
        padding-inline: max(calc((100% - 1440px + $max * 2px) / 2), $max * 1px);
    }
}

@mixin media-s {
    @media screen and (max-width: $media-query-s) {
        @content;
    }
}

@mixin media-sm {
    @media screen and (max-width: $media-query-sm) {
        @content;
    }
}
