@use './functions.scss' as *;

$color-base-light: #f8f9fa;
$color-base-dark: #0e1013;
$color-high-1: #bae011;
$color-high-2: #7e4ae7;
$color-high-3: #e08c05;

$font-size-btn: 18px;
$font-size-p-default: 18px;
$font-size-p-about: 20px;
$font-size-p-legal: 16px;
$font-size-nav: 18px;

$font-size-h1: clamp-px(48, 128, 1200, 700);
$font-size-h2: clamp-px(48, 64, 1400, 400);
$font-size-h3: clamp-px(20, 24, 1400, 400);
$font-size-h4: clamp-px(18, 20, 1400, 400);
$font-size-fig: 24px;
$font-size-peel: 40px;
$font-size-form: 24px;

$font-height-btn: 120%;
$font-height-p-default: 100%;
$font-height-p-contact: 120%;
$font-height-nav: 120%;
$font-height-title: 120%;
$font-height-h1-2-4: 100%;
$font-height-h3: 120%;
$font-height-fig: 120%;

$font-weight-btn: 500;
$font-weight-p: 400;
$font-weight-nav: 700;
$font-weight-h1: 700;
$font-weight-h2: 700;
$font-weight-h3: 400;
$font-weight-h4: 500;
$font-weight-fig: 700;
$font-weight-peel: 400;
$font-weight-form: 500;

$size-socials: 40px;
$size-socials-innerImg: 32px;
$size-testimonial: 24px;
$size-skills: clamp-px(56, 72, 1400, 400);
$size-sticker: clamp-px(120, 168, 1400, 400);
$size-checkbox: 18px;
$size-btn-border: 1px;

$width-testimon: clamp-px(300, 560, 1400, 300);
$width-preview: clamp-px(300, 560, 1400, 300);
$height-preview: clamp-px(240, 400, 1400, 300);

$padding-header-inline: clamp-px(16, 72, 1400, 600);
$padding-hero-top: clamp-px(72, 104, 1400, 600);
$padding-section-block: clamp-px(88, 144, 1400, 400);
$padding-skills-block: clamp-px(88, 170, 1400, 400);

$padding-btn: 24px;
$height-btn: 40px;
$height-header: clamp-px(64, 80, 1400, 600);
$height-footer: clamp-px(64, 80, 1400, 600);

$width-polaroid: 200px;
$width-headline: clamp-px(188, 232, 1400, 400);

$radius-btn: 100px;
$radius-preview: 20px;

$media-query-s: 400px;
$media-query-sm: 600px;
