<ul class="nav-list">
    <li>
        <app-logo class="logo-desktop"></app-logo>
    </li>
    <li>
        <img class="nav-about" src="./assets/design/00_hand-drawn-lines/00_header/1.webp" aria-hidden="true" />
        <a href="#section-about">About Me </a>
    </li>
    <li>
        <img class="nav-skills" src="./assets/design/00_hand-drawn-lines/00_header/2.webp" aria-hidden="true" />
        <a href="#section-skills">Skills </a>
    </li>
    <li>
        <img class="nav-projects" src="./assets/design/00_hand-drawn-lines/00_header/3.webp" aria-hidden="true" />
        <a href="TODO">Projects </a>
    </li>
    <li>
        <img class="nav-contact" src="./assets/design/00_hand-drawn-lines/00_header/4.webp" aria-hidden="true" />
        <a href="TODO">Contact </a>
    </li>
    <li class="lang-slider">
        <button class="lang-hover-btn" disabled>
            <img
                class="lang-hover"
                src="./assets/design/00_hand-drawn-lines/00_header/toggle.webp"
                aria-hidden="true"
            />
            <label for="language">EN</label>
        </button>
        <input class="slider" id="language" name="language" type="range" min="0" max="1" value="0" />
        <button class="lang-hover-btn">
            <img
                class="lang-hover lang-hover--rotate"
                src="./assets/design/00_hand-drawn-lines/00_header/toggle.webp"
                aria-hidden="true"
            />
            <label for="language">DE</label>
        </button>
    </li>
</ul>
