@use '../public/assets/styles/all_styles.scss' as all;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    background-color: all.$color-base-light;
}

h1 {
    font-family: 'Bricolage Grotesque';
    font-size: all.$font-size-h1;
    font-weight: all.$font-weight-h1;
    line-height: all.$font-height-h1-2-4;
    color: all.$color-base-light;
}

h2 {
    font-family: 'Bricolage Grotesque';
    font-size: all.$font-size-h2;
    font-weight: all.$font-weight-h2;
    line-height: all.$font-height-h1-2-4;
    color: all.$color-base-light;
}

h3 {
    font-family: 'Bricolage Grotesque';
    font-size: all.$font-size-h3;
    font-weight: all.$font-weight-h3;
    line-height: all.$font-height-h3;
    color: all.$color-base-light;
}

h4 {
    font-family: 'Bricolage Grotesque';
    font-size: all.$font-size-h4;
    font-weight: all.$font-weight-h4;
    line-height: all.$font-height-h1-2-4;
    color: all.$color-base-light;
}

p {
    font-family: 'Bricolage Grotesque';
    font-size: all.$font-size-p-default;
    font-weight: all.$font-weight-p;
    line-height: all.$font-height-p-default;
    color: all.$color-base-light;
}

button {
    @include all.flex-center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: none;
    user-select: none;
    touch-action: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    img {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
        user-select: none;
        pointer-events: none;
    }
}

a,
input {
    cursor: pointer;
}

a {
    color: all.$color-base-light;
    font-family: 'Bricolage Grotesque';
    font-size: all.$font-size-nav;
    font-weight: all.$font-weight-nav;
    line-height: all.$font-height-nav;
}

ul,
li {
    @include all.flex-center;
    list-style-type: none;
}

.d-none {
    display: none !important;
}
