@use '../public/assets/styles/all_styles.scss' as all;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

h1 {
    font-family: 'Bricolage Grotesque';
    font-size: all.$font-size-h1;
    font-weight: all.$font-weight-h1;
    line-height: all.$font-height-h1-2-4;
    color: all.$color-base-light;
}

a,
input {
    cursor: pointer;
}

ul,
li {
    @include all.flex-center;
    list-style-type: none;
}

.d-none {
    display: none !important;
}

.content-limit-1440p {
    padding-inline: clamp(16px, calc((100vw - 400px) * 56 / 840 + 16px), 72px);
    @include all.content-limit {
        padding-inline: max(calc(50% - 720px), 72px);
    }
}
