<article class="section-about">
    <aside>
        <div class="location-sticker">
            <img src="./assets/design/02_ripped-paper/3_orange.webp" alt="sticky note" />
            <div class="location-sticker-content">
                <img src="./assets/icons/misc/remote.svg" aria-hidden="true" />
                <h3>Open to work remote</h3>
            </div>
        </div>
        <div class="location-sticker">
            <img src="./assets/design/02_ripped-paper/2_purple.webp" alt="sticky note" />
            <div class="location-sticker-content">
                <img src="./assets/icons/misc/relocation.svg" aria-hidden="true" />
                <h3>Open to relocate</h3>
            </div>
        </div>
        <div class="location-sticker">
            <img src="./assets/design/02_ripped-paper/1_green.webp" alt="sticky note" />
            <div class="location-sticker-content slightly-upper">
                <img src="./assets/icons/misc/location.svg" aria-hidden="true" />
                <h3>Based in Soest (NRW)</h3>
            </div>
        </div>
    </aside>
    <section class="location-blog">
        <h4>WHO'S SVEN?</h4>
        <h2>About me</h2>
        <img src="./assets/design/00_hand-drawn-lines/01_about-me/line.webp" aria-hidden="true" />
        <p>
            Good Morning! I'm Sven — the Frontend Developer with a twist. <br />
            As a former engineer and head of embedded software department, I bring the technical know-how to break down
            complex tasks and make them accessible — from the lowest technical level all the way up to the end user.
            <br />
            I love the magic of coding! Making the invisible visible. <br />
            <br />
            Let's collaborate and build something remarkable together!
        </p>
        <app-button class="btn-right" [is3D]="true" [isDark]="true" [btnText]="'Let\'s talk'"></app-button>
    </section>
</article>
